<div class="api">
    <h2 class="app-title">
        <span class="title-name">
            <span class="name">常用API</span>
        </span>
        <span class="title-description"><strong>开发过程中，常用的API及其网址</strong></span>
    </h2>
    <tabs>
        <!-- 常用网址 -->
        <pane heading="常用网址">
            <header class="title">
                <h3 class="title">常用网址</h3>
            </header>
            <div class="websites">
                <ul class="unstyled">
                    <li>Bootstrap官网: <a target="_blank" href="http://getbootstrap.com/">http://getbootstrap.com/</a> </li>
                    <li>Bootstrap中文: <a target="_blank" href="http://www.bootcss.com/">http://www.bootcss.com/</a> </li>
                    <li>Mousetrap官网: <a target="_blank" href="http://craig.is/killing/mice">http://craig.is/killing/mice</a> </li>
                    <li>AngularJS官网: <a target="_blank" href="http://docs.angularjs.org/api/">http://docs.angularjs.org/api/</a> </li>
                    <li>AngularJS本地: <a target="_blank" href="http://132.147.68.172:8081/angular-guide-zh">http://132.147.68.172:8081/angular-guide-zh</a> </li>
                    <li>AngularJS中文: <a target="_blank" href="http://www.angularjs.cn/">http://www.angularjs.cn/</a> </li>
                    <li>AngularJS中文: <a target="_blank" href="http://www.ngnice.com/docs/guide">http://www.ngnice.com/docs/guide</a> </li>
                    <li>Understanding Directives: <a target="_blank" href="https://github.com/angular/angular.js/wiki/Understanding-Directives">https://github.com/angular/angular.js/wiki/Understanding-Directives</a></li>
                    <li>Understanding Scopes: <a target="_blank" href="https://github.com/angular/angular.js/wiki/Understanding-Scopes">https://github.com/angular/angular.js/wiki/Understanding-Scopes</a> </li>
                    <li>Understanding Dependency Injection: <a target="_blank" href="https://github.com/angular/angular.js/wiki/Understanding-Dependency-Injection">https://github.com/angular/angular.js/wiki/Understanding-Dependency-Injection</a> </li>
                    <li>AngularUI: <a target="_blank" href="http://angular-ui.github.io/">http://angular-ui.github.io/</a> </li>
                    <li>UI-Bootstrap: <a target="_blank" href="http://angular-ui.github.io/bootstrap/">http://angular-ui.github.io/bootstrap/</a> </li>
                    <li>ngGrid: <a target="_blank" href="http://angular-ui.github.io/ng-grid/">http://angular-ui.github.io/ng-grid/</a> </li>
                    <li>jQuery UI: <a target="_blank" href="http://jqueryui.com/">http://jqueryui.com/</a> </li>
                    <li>Select2: <a target="_blank" href="http://ivaynberg.github.io/select2/">http://ivaynberg.github.io/select2/</a> </li>
                    <li>Jersey: <a target="_blank" href="https://jersey.java.net/">https://jersey.java.net/</a> </li>
                    <li>Guice: <a target="_blank" href="http://code.google.com/p/google-guice/">http://code.google.com/p/google-guice/</a> </li>
                </ul>
            </div>
            <div class="usage-url">
                <h4>本地常用网址</h4>
                <ul>
                    <li>Jenkins（持续集成）：<a href="http://132.147.68.175:7777/job/herendh/" target="_blank">http://132.147.68.175:7777/job/herendh/</a> </li>
                    <li>URTracker(bug管理)：<a href="http://132.147.68.101/pts/home.aspx" target="_blank">http://132.147.68.101/pts/home.aspx</a> </li>
                    <li>heren-master项目: <a href="http://132.147.68.176:8051/heren/security/login-new.html" target="_blank">http://132.147.68.176:8051/heren/security/login-new.html</a> </li>
                    <li>heren-report项目: <a href="http://132.147.68.172:8081/heren-report/api/jasper-prints/fill" target="_blank">http://132.147.68.172:8081/heren-report/api/jasper-prints/fill</a> </li>
                    <li>AngularJS API：<a href="http://132.147.68.172:8081/angular-guide-zh/#/api" target="_blank">http://132.147.68.172:8081/angular-guide-zh/#/api</a> </li>
                    <li>Maven本地仓库：<a href="http://132.147.68.178:8081/nexus/index.html" target="_blank">http://132.147.68.178:8081/nexus/index.html</a> </li>
                </ul>
            </div>
        </pane>
    </tabs>
</div>