<div class="jargon">
    <h2 class="app-title">
        <span class="title-name">
            <span class="name">业务学习</span>
        </span>
        <span class="title-description"><strong>关键业务流程学习</strong></span>
    </h2>
    <tabs>
        <!-- 数据结构文档 -->
        <pane heading="数据结构文档">
            <header class="title">
                <h3 class="title">数据结构文档</h3>
                <p class="title-description">数据结构文档：<a href="https://132.147.68.178/svn/dh2011/公共文档/" target="_blank">https://132.147.68.178/svn/dh2011/公共文档/</a>DH2011新版数据结构手册(执行讨论)XXX.doc</p>
            </header>
            <p>数据结构文档：<a href="https://132.147.68.178/svn/dh2011/公共文档/" target="_blank">https://132.147.68.178/svn/dh2011/公共文档/</a>DH2011新版数据结构手册(执行讨论)XXX.doc</p>
        </pane>

        <!-- 基础数据 -->
        <pane heading="基础数据">
            <header class="title">
                <h3 class="title">基础数据</h3>
                <p class="title-description"></p>
            </header>

        </pane>

        <!-- 门诊挂号/住院登记 -->
        <pane heading="诊挂号/住院登记">
            <header class="title">
                <h3 class="title">门诊挂号/住院登记</h3>
                <p class="title-description"></p>
            </header>

        </pane>

        <!-- 门诊/住院医生站 -->
        <pane heading="门诊/住院医生站">
            <header class="title">
                <h3 class="title">门诊/住院医生站</h3>
                <p class="title-description"></p>
            </header>

        </pane>

        <!-- 护士站 -->
        <pane heading="护士站">
            <header class="title">
                <h3 class="title">护士站</h3>
                <p class="title-description"></p>
            </header>

        </pane>

        <!-- 门诊/住院收费 -->
        <pane heading="门诊/住院收费">
            <header class="title">
                <h3 class="title">门诊/住院收费</h3>
                <p class="title-description"></p>
            </header>

        </pane>

        <!-- 药品组 -->
        <pane heading="药品组">
            <header class="title">
                <h3 class="title">药品组</h3>
                <p class="title-description"></p>
            </header>

        </pane>

    </tabs>
</div>