<div class="rules">
    <h2 class="app-title">
        <span class="title-name">
            <span class="name">编码规范</span>
        </span>
        <span class="title-description"><strong>一些需要大家时刻谨记的编码规则</strong></span>
    </h2>
    <tabs>
        <!-- UI -->
        <pane heading="UI">
            <header class="title">
                <h3 class="title">UI</h3>
                <p class="title-description">具体的规范信息，参照文档<a href="https://132.147.68.178/svn/dh2011/开发文档/开发规范/规范/Heren-ui规范01.chm" target="_blank">https://132.147.68.178/svn/dh2011/开发文档/开发规范/规范/Heren-ui规范01.chm</a></p>
            </header>
            <p>具体的规范信息，参照文档<a href="https://132.147.68.178/svn/dh2011/开发文档/开发规范/规范/Heren-ui规范01.chm" target="_blank">https://132.147.68.178/svn/dh2011/开发文档/开发规范/规范/Heren-ui规范01.chm</a></p>
        </pane>

        <!-- REST -->
        <pane heading="REST">
            <header class="title">
                <h3 class="title">UI</h3>
                <p class="title-description">最佳实践：<a href="https://132.147.68.178/svn/dh2011/开发文档/开发规范/REST最佳实践.docx" target="_blank">https://132.147.68.178/svn/dh2011/开发文档/开发规范/REST最佳实践.docx</a></p>
            </header>
            <p>最佳实践：<a href="https://132.147.68.178/svn/dh2011/开发文档/开发规范/REST最佳实践.docx" target="_blank">https://132.147.68.178/svn/dh2011/开发文档/开发规范/REST最佳实践.docx</a></p>
        </pane>

        <!-- JavaScript -->
        <pane heading="JavaScript">
            <header class="title">
                <h3 class="title">JavaScript</h3>
                <p class="title-description">参照文档：<a href="https://132.147.68.178/svn/dh2011/开发文档/开发规范/JavaScript程序编码规范.docx" target="_blank">https://132.147.68.178/svn/dh2011/开发文档/开发规范/JavaScript程序编码规范.docx</a></p>
            </header>
            <p>参照文档：<a href="https://132.147.68.178/svn/dh2011/开发文档/开发规范/JavaScript程序编码规范.docx" target="_blank">https://132.147.68.178/svn/dh2011/开发文档/开发规范/JavaScript程序编码规范.docx</a></p>
        </pane>

        <!-- Java -->
        <pane heading="Java">
            <header class="title">
                <h3 class="title">Java</h3>
                <p class="title-description">参照文档：<a href="https://132.147.68.178/svn/dh2011/开发文档/开发规范/Java语言编码规范.docx" target="_blank">https://132.147.68.178/svn/dh2011/开发文档/开发规范/Java语言编码规范.docx</a></p>
            </header>
            <p>参照文档：<a href="https://132.147.68.178/svn/dh2011/开发文档/开发规范/Java语言编码规范.docx" target="_blank">https://132.147.68.178/svn/dh2011/开发文档/开发规范/Java语言编码规范.docx</a></p>
        </pane>

        <!-- 报表 -->
        <pane heading="报表">
            <header class="title">
                <h3 class="title">报表</h3>
                <p class="title-description"></p>
            </header>
            数据库连接资源一定要释放。
        </pane>

    </tabs>
</div>