<div class="settings">
    <h2 class="app-title">
        <span class="title-name">
            <span class="name">设置</span>
        </span>
        <span class="title-description"><strong>设置我的信息</strong></span>
    </h2>
    <tabs>
        <!-- 修改密码 -->
        <pane heading="修改密码">
            <header class="title">
                <h3 class="title">修改密码</h3>
                <p class="title-description"></p>
            </header>

        </pane>

        <!-- 用户管理 -->
        <pane heading="用户管理">
            <header class="title">
                <h3 class="title">用户管理</h3>
                <p class="title-description"></p>
            </header>

        </pane>

    </tabs>
</div>