<div class="ui">
    <h2 class="app-title">
        <span class="title-name">
            <span class="name">常用界面</span>
        </span>
        <span class="title-description"><strong>项目中经常使用的界面结构</strong></span>
    </h2>
    <tabs>
        <!-- 规范布局 -->
        <pane heading="规范布局">
            <header class="title">
                <h3 class="title">规范布局</h3>
                <p class="title-description">使用源代码（mock文件夹下）的布局：<a href="https://132.147.68.178/svn/sourcecode/heren-master/heren-main/mockup/ui/demo" target="_blank">https://132.147.68.178/svn/sourcecode/heren-master/heren-main/mockup/ui/demo</a></p>
            </header>
            <p>使用源代码（mock文件夹下）的布局：<a href="https://132.147.68.178/svn/sourcecode/heren-master/heren-main/mockup/ui/demo" target="_blank">https://132.147.68.178/svn/sourcecode/heren-master/heren-main/mockup/ui/demo</a></p>
        </pane>

        <!-- 左右结构 -->
        <pane heading="左右结构">
            <header class="title">
                <h3 class="title">左右结构</h3>
                <p class="title-description"></p>
            </header>

        </pane>

        <!-- 上中下结构 -->
        <pane heading="上中下结构">
            <header class="title">
                <h3 class="title">上中下结构</h3>
                <p class="title-description"></p>
            </header>

        </pane>
    </tabs>
</div>